.buy {
  padding-top: 10rem;
}

.buy p {
  margin-bottom: 5rem;
}

.buy h2 {
  font-weight:bold; 
  color: #f3f3f3; 
  font-size: 60px; 
  letter-spacing: -4px; 
  text-shadow:  0 10px 10px rgba(170,170,170,0.4);
}
