@mixin tablet-and-up {
  @media screen and (min-width: 769px) { @content; }
}
@mixin mobile-and-up {
  @media screen and (min-width: 601px) { @content; }
}
@mixin tablet-and-down  {
  @media screen and (max-width: 768px) { @content; }
}
@mixin mobile-only {
  @media screen and (max-width: 600px) { @content; }
}

.roadmap-section ul, li {
  list-style: none;
  padding: 0;
}

.roadmap-section .container {
  display: flex;
  justify-content: center ;
  align-items: center;
  padding: 0 1rem;
  padding: 3rem 0;
}
.roadmap-section .wrapper {
 background-color: rgba(255, 255, 255, .15);  
 padding: 2rem;
 border-radius: 15px;
}
.roadmap-section h1 {
  font-size: 1.1rem;
}

.roadmap-section .sessions {
  margin-top: 2rem;
  border-radius: 12px;
  position: relative;
}

.roadmap-section li {
  padding-bottom: 1.5rem;
  border-left: 1px solid #abaaed;
  position: relative;
  padding-left: 20px;
  margin-left: 10px;
}

.roadmap-section li:last-child {
  border: 0px;
  padding-bottom: 0;
}

.roadmap-section li::before {
  content: '';
  width: 15px;
  height: 15px;
  background: white;
  border: 1px solid #4e5ed3;
  box-shadow: 1.5px 1.5px 0px #bab5f8;
  box-shadow: 1.5px 1.5px 0px #bab5f8;
  border-radius: 50%;
  position: absolute;
  left: -10px;
  top: 0px;
}

.roadmap-section .time {
  color: #fff;
  font-weight: 500;
}
.roadmap-section p {
  color: #fff;
  font-family: sans-serif;
  line-height: 1.5;
  margin-top:0.4rem;
}

.roadmap-section h2 {
  font-weight:bold; 
  color: #f3f3f3; 
  font-size: 60px; 
  letter-spacing: -4px; 
  text-shadow:  0 10px 10px rgba(170,170,170,0.4);
}

.roadmap-section .section-subheading {
  font-weight: 400; 
  color: #fff; 
  font-size: 20px; 
  align-items: center;
  justify-content: center;
  margin: 2rem;
}
